<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skypan.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".broadcast.BroadActivity2"
            android:exported="true" />
        <activity
            android:name=".broadcast.BroadActivity"
            android:exported="true" />
        <activity
            android:name=".datastorage.FileActivity"
            android:exported="true" />
        <activity
            android:name=".datastorage.SharedActivity"
            android:exported="true" />
        <activity
            android:name=".datastorage.DataStorageActivity"
            android:exported="true" />
        <activity
            android:name=".HandlerActivity"
            android:exported="true" />
        <activity
            android:name=".EventActivity"
            android:exported="true" />
        <activity
            android:name=".fragment.ContainerActivity"
            android:exported="true" />
        <activity
            android:name=".jump.BActivity"
            android:exported="true"
            android:label="BActivity">
            <intent-filter>
                <action android:name="com.skypan.test.BActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jump.AActivity"
            android:exported="true"
            android:label="AActivity" />
        <activity
            android:name=".LifeCycleActivity"
            android:exported="true" />
        <activity
            android:name=".PopupWindowActivity"
            android:exported="true" />
        <activity
            android:name=".CustomDialogActivity"
            android:exported="true" />
        <activity
            android:name=".ProgressActivity"
            android:exported="true" />
        <activity
            android:name=".DialogActivity"
            android:exported="true" />
        <activity
            android:name=".ToastActivity"
            android:exported="true" />
        <activity
            android:name=".WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerview.LinearRecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".ImageViewActivity"
            android:exported="true" />
        <activity
            android:name=".CheckBoxActivity"
            android:exported="true" />
        <activity
            android:name=".RadioButtonActivity"
            android:exported="true" />
        <activity
            android:name=".EditTextActivity"
            android:exported="true" />
        <activity
            android:name=".ButtonActivity"
            android:exported="true" />
        <activity
            android:name=".TextViewActivity"
            android:exported="true" />
        <activity
            android:name=".listview.ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".gridview.GridViewActivity"
            android:exported="true" />
        <activity
            android:name=".UIActivity"
            android:exported="true" />
        <activity
            android:name=".TestActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>